/* AUTH PAGE */

.auth-img{
    width: 800px;
    height: 664px;
  }
  .auth-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 48px;
  }
  .authentification{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 25px;
  }
  .authentification .auth-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .authentification .auth-form{
    background-color: #804EFF;
    width: 80%;
    padding: 40px;
    height: 85vh;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 6px;
  }
  .authentification .auth-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    flex-direction: column;
  }
  .authentification .auth-form form h1{
    font-size: 3.2rem;
    color: #fff;
  }
  .authentification .auth-form form .input-form{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 80%;
    flex-direction: column;
    margin: 10px 0;
  }
  .authentification .auth-form form .input-form label{
    margin: 5px 0;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
  }
  .authentification .auth-form form .input-form input{
    width: 100%;
    padding: 7px 5px;
    border-radius: 6px;
    border: none;
    border: 1px solid #804EFF;
    outline: none;
    font-size: 1rem;
  }
  .authentification .auth-form form .text{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin: 8px;
  }
  .authentification .auth-form form .text a{
    text-decoration: none;
    font-size: 1.05rem;
    color: #fff;
    transition: .3s ease;
  }
  .authentification .auth-form form .text a:hover{
    text-decoration: underline;
    margin-bottom: 2px;
  }
  .authentification .auth-form form button{
    padding: 12px 20px;
    border-radius: 8px 18px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    background-color: #804EFF;
    border: 1px solid #fff;
    color: #fff;
    transition: background .3s ease;
  }
  .authentification .auth-form form button:hover{
    color: #804EFF;
    background-color: #fff;
    border: 1px solid #804EFF;
  }